* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

body {

}

main {
    width: 507px;
    height: 100vh;
    background-color: black;
}

@media only screen and (min-height: 900px) {
    main {
        height: 900px;
    }
}