* {
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-color: rgba(244, 171, 186, 0.50);

    --pink-color: #F4ABBA;
    --green-color: #5CC1CF;
    --purple-color: #B89BC9;

    --dark-purple-color: #836E99;
    --dark-green-color: #4999A4;
    --dark-pink-color: #DB9AA7;

    --pink-15: #FEF3F5;
    --green-25: rgba(92, 193, 207, 0.25);

    --white-color: white;
    --black-color: black;
}

body {
    background: var(--bg-color);
    font-family: 'Josefin Sans', sans-serif;
}

a {
    text-decoration: none;
}

main {
    position: relative;
    width: 507px;
    height: 100vh;
    margin: auto;
    padding: 10px;
    background-color: var(--white-color);
}

/* Font style */
h1 {
    font-size: 26px;
    line-height: 31px;
}

h2 {
    font-size: 24px;
    line-height: 40px;
    font-weight: normal;
}


h3 {
    font-size: 20px;
    line-height: 33px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
    /* Bron: https://css-tricks.com/inclusively-hidden/ */
}

/* Buttons */
.btn-1 {
    padding: 30px 40px;
    display: block;
    position: absolute;
    left: 20px;
    right: 20px;
    bottom: 70px;
    border-radius: 50px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 42px;
    font-weight: bold;
    text-align: center;
    color: var(--white-color);
    background-color: var(--purple-color);
}

.btn-1:active {
    background-color: var(--dark-purple-color);
}

.btn-2 {
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    background-color: var(--pink-color);
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 18px;
    color: var(--white-color);
    cursor: pointer;
}

.btn-2:active {
    background-color: var(--dark-pink-color);
}

/* Startpagina Index.html */
.start-main {
    position: relative;
    align-items: center;
    background: url(img/bg.jpg) right center no-repeat;
    background-size: cover;
}

.start-header {
   position: absolute;
   top: 0;
   left: 0;
}

.pay-off {
    position: absolute;
    height: 140px;
}

.gif-start {
    height: 351px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Dashboard */
.logo {
    height: 68px;
}

header {
    display: flex;
    justify-content: space-between;
}

/* Special dagdeal */
.special-clmn {
    text-align: center;
}

.special-btn-clmn {
    display: flex;
    align-items: center;
    padding: 5px 10px;
    width: 230px;
    border-radius: 50px;
    background: linear-gradient(90deg, rgba(163,137,191,0.5) 0%, rgba(163,137,191,0.25) 100%);
    /* Bron: https://cssgradient.io/ */
}

.special-img {
    height: 68px;
    margin-right: 10px;
}

.special-naam {
    margin-bottom: 5px;
    font-size: 18px;
}

.special-txt p {
    font-size: 14px;
}

.special-btn {
    padding: 13px;
    margin-left: auto;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: var(--green-color);
    cursor: pointer;
}

.special-btn:active {
    background-color: var(--dark-green-color);
}

.special-btn img {
    height: 15px;
}

/* Winkelmand */
.winkelmand-btn {
    padding: 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(90deg, rgba(252,234,238,1) 0%, rgba(249,213,220,1) 100%);
    cursor: pointer;
}

.winkelmand-btn:active {
    background: linear-gradient(90deg, rgba(249,213,220,1) 0%, rgba(252,234,238,1) 100%);
}

.winkelmand-btn img {
    width: 45px;
}

.winkelmand p {
    font-size: 20px;
    line-height: 31px;
    font-weight: bold;
    text-align: center;
}

.winkelmand div {
    margin-top: -7px;
    padding: 14px 0px 7px 0px;
    border-radius: 0px 0px 10px 10px;
    background-color: var(--pink-15);
}

/* Nav */
.content {
    display: grid;
    grid-template-columns: 120px 1fr;
    height: fit-content ;
}

nav {
    position: relative;
    display: flex;
    margin: -40px 0px 0px -10px;
    padding: 10px;
    height: fit-content;
    border-radius: 0px 20px 20px 0px;
    background-color: var(--green-25);
}

.nav-feed {
    position: absolute;
    left: 100%;
    margin-left: -3px;
    top: 50%;
    transform: translateY(-50%);
}

nav ul {
    height: fit-content;
    list-style: none;
}

nav ul li {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    text-align: center;
    align-items: center;
    transform: translateY(20px);
    cursor: pointer;
}

nav ul li:last-of-type {
    margin-bottom: 0px;
}

nav ul li img:first-of-type {
    transform: translateY(-15px);
}

nav ul li p {
    order: 3;
    transform: translateY(-30px);
    font-size: 14px;
    font-weight: bold;
    color: var(--white-color);
}

.nav-img {
    position: absolute;
    height: 65px;
}

nav ul li:first-of-type img:first-of-type {
    height: 50px;
    transform: translateY(-5px);
}

nav ul li:nth-of-type(3) img:first-of-type {
    height: 55px;
    transform: translateY(-10px);
}

.nav-bg {
    width: 105px;
}

@keyframes jump-animation {
    0% {
        transform:translateY(0px);
      }
    100% {
        transform:translateY(-2px);
    }
}

nav ul li:active {
    animation-name:jump-animation;
    animation-duration:0.5s;
    animation-iteration-count:1;
}

/* Bureaublad */
.bureaublad {
    position: relative;
    padding: 10px;
}
.bureaublad h1, .bureaublad h2 {
    text-align: center;
}

.bureaublad h1 {
    margin-top: 20px
}

.bureaublad p {
    margin-top: 10px;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
}

#stap-1 {
    display: none;
}

/* Footer */
footer {
    position: absolute;
    padding-left: inherit;
    padding-right: inherit;
    bottom: 10px;
    left: 0px;
    right: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.bar {
    width: 200px;
    height: 1px;
    border: 3px solid var(--green-color);
    border-radius: 50px;
    background-color: var(--green-color);
}

.bar-txt {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.bar-txt p {
    font-size: 14px;
    font-weight: normal;
}

.bar-dot {
    list-style: none;
    display: flex;
    justify-content: space-around;
    transform: translateY(4px);
}

.dot {
    width: 5px;
    height: 5px;
    border-radius: 50px;
    background-color: var(--pink-color);
}

.bar-img {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.bar-panda {
    height: 40px;
}

.bar-img i {
    font-size: 20px;
    color: var(--pink-color);
}

/* Bureaublad */
.stap-1-img {
    height: 55px;
}

.stap-1 {
    margin-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

figure {
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 164px;
    height: 120px;
    border: 1px solid var(--pink-color);
    border-radius: 20px;
    cursor: pointer;
}

.stap-1 figure:last-of-type {
    margin: 0px;
}

figure img {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    width: fit-content;
    order: -1;
}

figcaption {
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
}

.stap-1 figure:nth-of-type(2) img, .stap-1 figure:nth-of-type(4) img {
    height: 65px;
}

.stap-1 figure:nth-of-type(3) img {
    height: 50px;
}

.stap-1 figure:nth-of-type(5) img {
    height: 45px;
}

/* JS code */
/* Footer knop links weg */
.none {
    display: none;
}

.footer1Btn {
    justify-content: flex-end;
}

.marginR30 {
    margin-right: 30px;
}

.keuze1Changed {
    border: 5px solid var(--pink-color);
}

/* Responsive */
@media only screen and (min-height: 900px) {
    main {
        height: 900px;
        top: 50%;
        left: 50%;
        position: absolute;
        transform: translate(-50%, -50%);
    }

    /* Nav */
    nav ul li img:first-of-type {
        transform: translateY(-30px);
    }

    .nav-img {
        position: absolute;
        height: 78px;
    }
    
    nav ul li:first-of-type img:first-of-type {
        height: 65px;
        transform: translateY(-15px);
    }
    
    nav ul li:nth-of-type(3) img:first-of-type {
        height: 68px;
        transform: translateY(-10px);
    }

    nav ul li {
        margin-bottom: 20px;
    }

    /* Content */
    figure {
        width: 164px;
        height: 148px;
    }

    .stap-1-img {
        height: 77px;
    }

    .stap-1 figure:nth-of-type(2) img, .stap-1 figure:nth-of-type(4) img {
        height: 90px;
    }
    
    .stap-1 figure:nth-of-type(3) img {
        height: 67px;
    }
    
    .stap-1 figure:nth-of-type(5) img {
        height: 57px;
    }
}